body {
    background-color: #669499;
}


.container-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

h1 {
    width: 100%;
    height: fit-content;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #0f0f10;
}


#map { 
    width: 70%;
    height: 80%; 
    border-radius: 30px;
}

